APP_ENV=development
APP_PORT=8000
APP_URL=http://localhost:${APP_PORT}

INTERNAL_API_KEY=

DB_URL=postgresql://db_user:db_password@db_host:5432/db_name

MAILER_HOST=
MAILER_PORT=
MAILER_USER=
MAILER_PASS=
MAILER_FROM=

REDIS_URL=
REDIS_PASSWORD=