APP_ENV=development
# In some instances, the PORT variable may not be set in the environment. In such cases, the application will default to port 8000 when in development mode.
PORT=8000
APP_URL=http://localhost:${PORT}

DB_URL=postgresql://db_user:db_password@db_host:5432/db_name

MAILER_HOST=
MAILER_PORT=
MAILER_USER=
MAILER_PASS=
MAILER_FROM=